<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>445657668829-53d7b6096bqk77of06p94i31qbfurcqs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.445657668829-53d7b6096bqk77of06p94i31qbfurcqs</string>
	<key>API_KEY</key>
	<string>AIzaSyAj261ZvvB9xV6K0FpGDBg4MTBnvnmYUF0</string>
	<key>GCM_SENDER_ID</key>
	<string>445657668829</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>RaeHoon.Warning</string>
	<key>PROJECT_ID</key>
	<string>warning-7652d</string>
	<key>STORAGE_BUCKET</key>
	<string>warning-7652d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:445657668829:ios:6cda55a357607c60d94f34</string>
</dict>
</plist>